@page "/ListaAgendamento"

@using VisioLens_Blazor.Models;
@inject AgendamentoDAO agendamentoDAO

<link href="/bootstrap/listaagendamento.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendamento - VisioLens</title>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6"> Agendamento</h1>

<table class="table">
   <thead>
       <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Tipo de sessão</th>
            <th>Duração</th>
            <th>Fotografo</th>
            <th>Observações</th>
           <th>Ações</th>
           
       </tr>
   </thead>
   <tbody>
        @{
            int contador = 1;

            @foreach(var agendamento in listaAgendamento)
            {
                <tr>
                    <td>@agendamento.Id</td>
                    <td>@agendamento.Cliente</td>
                    <td>@agendamento.Data</td>
                    <td>@agendamento.TipoDeSessao</td>
                    <td>@agendamento.Duracao</td>
                    <td>@agendamento.Fotografo</td>
                    <td>@agendamento.Observacao</td>
                    <td>
                         <a href="/agendamento/@agendamento.Id/editar" class="btn btn-sm btn-primary mr-2">
                              <i class="fas fa-edit"></i> Atualizar
                         </a>
                        <a href="/agendamento/@agendamento.Id/excluir" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>
                    
                </tr>


                contador++;
            }
        }
   </tbody>
</table>

@code{
    private List<Agendamento> listaAgendamento = new();

    protected override void OnInitialized()
    {
        CarregarAgendamento();
    }

    private void CarregarAgendamento()
    {
        listaAgendamento = agendamentoDAO.ListarTodos();
    }
}

