@page "/ListaCliente"

@using VisioLens_Blazor.Models;
@inject ClienteDAO clienteDAO

<title>VisioLens - Lista de Cliente</title>
<link href="/bootstrap/listacolaborador.css" rel="stylesheet" />

<h1>Lista de Cliente</h1>

<div class="toolbar">
    <input type="text" id="search" placeholder="Pesquisar Cliente">
    <button type="button" class="btn btn-primary" @onclick="CarregarCliente">
        Listar
    </button>


</div>

<table class="table_cliente">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @{
            int contador = 1;

            @foreach (var cliente in listaCliente)
            {
                <tr>
                    <td>@contador</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>

                    <td>
                        <a href="/cliente/@cliente.Id/editar" class="btn btn-sm btn-primary mr-2">
                            <i class="fas fa-edit"></i> Atualizar
                        </a>
                        <a href="/cliente/@cliente.Id/excluir" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>

                </tr>

                contador++;
            }
        }
    </tbody>
</table>


@code {
    private List<Cliente> listaCliente = new();

    protected override void OnInitialized()
    {
        CarregarCliente();
    }

    private void CarregarCliente()
    {
        listaCliente = clienteDAO.ListarTodos();

        StateHasChanged(); // força atualizar a tela


    }
}
